body {
    margin:0;
    overflow: hidden;

    /* font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('Media/Clear_blue_background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.background-video {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#weather-container {
    background-color: transparent;
    background-image: url('./Media/input_backdrop.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 40vh;
    position:absolute;
    bottom: 0;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#zip-input {
    width: 80%
    padding 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255 , 255, 255, 0.8);
}

#weather-info {
    margin-top: 20px;
}

#weather-info p {
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

input {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
